<!--The content below is only a placeholder and can be replaced.-->
<!-- <table>
  <thead>
    <th>name</th>
    <th>age</th>
  </thead>

  <tbody>
    <tr>
      <td>india</td>
      <td>20</td>
    </tr>
    <tr>
      <td>america</td>
      <td>22</td>
    </tr>
    <tr>
      <td>england</td>
      <td>33</td>
    </tr>
  </tbody>

</table> -->


<table>
  <thead>
    <th>name</th>
    <th>age</th>
  </thead>

  <tbody>
    <tr *ngFor="let userize of myusers">
      <td>{{userize.name}}</td>
      <td>{{userize.id}}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>